# -*- mode: conf -*-
# vim:ft=cfg

[server]
# CalDAV server hostnames separated by a comma
# IPv4 syntax: address:port
# IPv6 syntax: [address]:port
# For example: 0.0.0.0:9999, [::]:9999
hosts = 0.0.0.0:5232

# Max parallel connections
max_connections = 8

# Max size of request body (bytes)
max_content_length = 100000000

# Socket timeout (seconds)
timeout = 30

# SSL flag, enable HTTPS protocol
#ssl = False

# SSL certificate path
#certificate = /etc/ssl/radicale.cert.pem

# SSL private key
#key = /etc/ssl/radicale.key.pem

# CA certificate for validating clients. This can be used to secure
# TCP traffic between Radicale and a reverse proxy
#certificate_authority =

[auth]
# Authentication method
# Value: none | htpasswd | remote_user | http_x_remote_user
#type = none

# Htpasswd filename
#htpasswd_filename = /etc/radicale/users

# Htpasswd encryption method
# Value: plain | bcrypt | md5
# bcrypt requires the installation of radicale[bcrypt].
#htpasswd_encryption = md5

# Incorrect authentication delay (seconds)
#delay = 1

# Message displayed in the client when a password is needed
#realm = Radicale - Password Required

[storage]
filesystem_folder = {{ radicale_data_dir }}/collections

[web]
type = internal


[logging]
level = warning
mask_passwords = True
