worker_processes 1;

events { worker_connections 1024; }

http {

    sendfile on;
    
    server {
        listen 80 default_server;
        listen [::]:80 default_server;
        server_name {{ bitwarden_hostname }};
        return 301 https://$host$request_uri;
    }

    server {
        access_log /var/log/nginx/bitwarden-access.log;
        listen 443 ssl http2;
        server_name {{ bitwarden_hostname }};
	client_max_body_size 128M;
        ssl on;
        ssl_certificate /opt/nginx/nginx.crt;
        ssl_certificate_key /opt/nginx/nginx.key;
        ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers         HIGH:!aNULL:!MD5;

	location / {
            proxy_pass http://bitwarden:80;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /notifications/hub {
            proxy_pass http://bitwarden:3012;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }
	location /notifications/hub/negotiate {
            proxy_pass http://bitwarden:80;
        }
	
	location /admin {

            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;

            proxy_pass http://bitwarden:80;
        }
    }
}
