version: '3'
services:
  postgres:
    image: postgres:10
    restart: unless-stopped
    volumes:
      - {{ invidious_db_dir }}:/var/lib/postgresql/data
      - {{ invidious_root_dir }}/sql:/config/sql
      - {{ invidious_root_dir }}/docker/init-invidious-db.sh:/docker-entrypoint-initdb.d/init-invidious-db.sh
    environment:
      POSTGRES_DB: {{ invidious_postgres_user }}
      POSTGRES_PASSWORD: {{ invidious_postgres_password }}
      POSTGRES_USER: {{ invidious_postgres_user }}
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
    labels:
      com.centurylinklabs.watchtower.enable: "false"
  invidious:
    build:
      context: .
      dockerfile: docker/Dockerfile
    restart: unless-stopped
    ports:
      - "{{ invidious_http_port }}:3000"
    environment:
      # Adapted from ./config/config.yml
      INVIDIOUS_CONFIG: |
        channel_threads: 1
        check_tables: true
        feed_threads: 1
        db:
          user: {{ invidious_postgres_user }}
          password: {{ invidious_postgres_password }}
          host: postgres
          port: 5432
          dbname: {{ invidious_postgres_user }}
        full_refresh: false
        https_only: false
        domain:
    depends_on:
      - postgres
    labels:
      com.centurylinklabs.watchtower.enable: "false"
