#!/usr/bin/env bash

### Super simple systemd alerting

### Service name
service="{{ ssh_service_name }}.service"

### Pattern to match with `grep -E ...`
grep_regex_pattern='Failed password|Invalid verification code|Invalid user|Accepted publickey|Accepted password'

journalctl -u ${service} -n 0 -f | grep --line-buffered -iE "${grep_regex_pattern}" | while read line
do
        echo "${line}" | gotify push
done
